# .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
appsettings.Development.json

# Angular
node_modules/
dist/
.angular/

# IDE
.vs/
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars

# Logs
*.log

# SQLite
*.db
*.db-journal

# Environment
.env